@font-face {
	font-family: 'iran';
	src: url('../assets/iran.woff');
}

body{
	background-color:#FFFAF0;
}

#logo{
	display: block;
	width: 400px;
	margin: 0 auto;
}

header #title {
	text-align: center;
	font-family: "iran";
	margin: 0;
	color: #2C3E50;
}

header h2 {
	text-align: center;
	font-family: "iran";
	font-size: 1em;
	margin : 0;

}

header h2 a{
	text-decoration: none;
	color: #674172;
}
